<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Compras</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Histórico de Compras</h1>
    
    {{#if purchases.length}}
    <ul>
        {{#each purchases}}
        <li>
            <strong>Nome do Ingresso:</strong> {{this.Ticket.name}}<br>
            <strong>Preço:</strong> R$ {{this.Ticket.price}}<br>
            <strong>Quantidade Comprada:</strong> {{this.quantity}}<br>
            <strong>Data da Compra:</strong> {{this.createdAt}}
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>⚠️ Nenhum ingresso comprado.</p>
    {{/if}}

    <button onclick="window.location.href='/dashboard'">Voltar</button>

     
</body>
</html>