<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingressos Disponíveis</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Ingressos Disponíveis</h1>

    {{#if successMessage}}
    <div class="alert alert-success"
        style="background-color: #7ddd93; border-color: #c3e6cb; color: #020202; padding: 10px; border-radius: 5px; margin: 10px 0; font-weight: bold;">
        {{successMessage}}
    </div>
    {{/if}}

    {{#if tickets.length}}
    <form action="/tickets/comprar-multiplos" method="POST" onsubmit="return validarCompra()">
        {{#each tickets}}
        <div>
            <h2>{{this.name}}</h2>
            <p class="textos">Preço: R$ {{this.price}}</p>
            <p class="textos">Disponíveis: {{this.quantity}}</p>
            <input type="hidden" name="tickets[{{@index}}][ticketId]" value="{{this.id}}">
            <label for="quantity-{{this.id}}">Quantidade:</label>
            <input type="number" id="quantity-{{this.id}}" name="tickets[{{@index}}][quantity]" min="1"
                max="{{this.quantity}}">
        </div>
        {{/each}}
        <button type="submit">Comprar</button>
    </form>
    {{else}}
    <p>⚠️ Nenhum ingresso disponível no momento.</p>
    {{/if}}

    <button id="view-history-button">Histórico de Compras</button>

    <script>
        // Redireciona para o histórico de compras
        document.getElementById('view-history-button').addEventListener('click', function () {
            window.location.href = '/history';
        });

        // Valida se pelo menos um ingresso foi selecionado antes de enviar
        function validarCompra() {
            let inputs = document.querySelectorAll('input[type="number"]');
            for (let input of inputs) {
                if (input.value > 0) {
                    return true; // Permite a compra se houver pelo menos um ingresso selecionado
                }
            }
            alert("Selecione pelo menos um ingresso para comprar.");
            return false; // Bloqueia o envio do formulário
        }
    </script>
    <button onclick="window.location.href='dashboard'">Voltar</button>
</body>

</html>